# password file for replication user
{{ postgresql_replication_primary_address }}:{{ postgresql_replication_primary_port }}:replication:{{ postgresql_replication_user }}:{{ postgresql_replication_password }}
