standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_replication_primary_address }} port={{ postgresql_replication_primary_port }} user={{ postgresql_replication_user }}'
trigger_file = '{{ _postgresql_data_dir }}/failover'
